<head>
    <link rel="icon" type="image/png" href="/Content/images/favicon.png">
    <title>Trang chủ | Toyota Gia Lai</title>
    <meta name="Description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Gia Lai, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Gia Lai."
    />
    <meta name="Keywords" content="toyota, toyota viet nam, xe toyota" />
    <meta property="og:url" content="http://toyotagialaii.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ | Toyota Gia Lai" />
    <meta property="og:description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Việt Nam, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Việt Nam."
    />
    <meta property="og:image" content="/data/tmv-albums/9/kuxy5w.jpg" />
    <meta name="twitter:title" content="Trang chủ | Toyota Gia Lai">
    <meta name="twitter:description" content="Toyota l&#224; thương hiệu &#244;t&#244; h&#224;ng đầu thế giới. Tại Gia Lai, Toyota cũng bắt đầu sản xuất v&#224; kinh doanh từ năm 1997 v&#224; cho đến nay vẫn l&#224; h&#227;ng xe du lịch được ưa chuộng nhất tại Gia Lai.">
    <meta name="twitter:image" content="/data/tmv-albums/9/kuxy5w.jpg">
    <meta name="twitter:card" content="/data/tmv-albums/9/kuxy5w.jpg">
    <link rel="canonical" href="http://toyotagialaii.com/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="/">
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- <link href="/bundles/css.css" rel="stylesheet" /> -->
    {% include css/css.html %}    
    <!-- <link href="/Content/css/main.css" rel="stylesheet" /> -->
    {% include css/main.html %}    
    <!-- <link href="/Content/css/main-content-2.css" rel="stylesheet" /> -->
    {% include css/main-content-2.html %}    
    <!-- <link href="/Content/css/main-content.css" rel="stylesheet" /> -->
    {% include css/main-content.html %}    

    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"> -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N5WFF2R');</script>
    <!-- End Google Tag Manager -->

    {% include analytics.html %}    

</head>