<!--Menu-->
<div class="menu-detail menu-detail-text">
    <!-- <div class="target target1"> -->
    <div class="target">
        <div class="container">
            <ul class="table-of-contents clearfix animated fadeInUpShort delay-250 go">
                {% for menu in site.data.carMenus %}
                <li>
                    <a href={{menu.sec | prepend : '#' }}>
                        <img src={{menu.image}}>
                        <span class="text-link">{{menu.title}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--End of Menu-->