<!-- ngoai that -->
{% assign ngoaithat = car.ngoai_that_data %} 
{% assign images = ngoaithat.images %} 
{% if ngoaithat.title != "" %}
<div id="sec_dt_04" class="scrollspy">
    <div class="imgthuvien only-show-mb">
        <div class="heading_dt">
            <h4 style="margin: 10px;text-decoration: underline">Ngoại Thất</h4>
        </div>
        <div class="owl-carousel owl-theme">
            {% for image in images %}
            <div class="item">
                <img src={{image.img}} alt="">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="inner_scrollspy hide-mb">
        <div class="ngoaithat clearfix rows dpflex">
            <div class="cols colleft" style="background-image: url(/Content/images/detail_ngoaithat_bg.png);">
                <div class="cols_inner">
                    <div class="cols_txt">
                        <p class="name_dt">
                            Ngoại Thất
                        </p>
                        <p class="txt_dt">
                            {{ngoaithat.title}}
                        </p>
                        <p class="txt_dt_2"> {{ngoaithat.description}}</p>
                    </div>
                </div>
            </div>
            <div class="cols colright">
                <p class="img_banner">
                    <img class="lazy" src="/Content/images/notfound/notfound-images.png" data-original={{ngoaithat.thumb}}>
                </p>
            </div>
        </div>
        <div class="slide_sm">
            <div class="owl-carousel slide_img_sm">
                {% for image in images %}
                <div class="item">
                    <a>
                        <img class="owl-lazy" data-src={{image.img}} alt="Fortuner 2.4G 4x2 MT M&#226;m xe">
                    </a>
                    <div class="txt_sl">{{image.text}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- End of ngoai that -->