<!--Phu kien-->
<div id="sec_dt_09" class="scrollspy">
    <div class="inner_scrollspy">
        <div class="container">
            <div class="heading_dt">
                <p class="txt1">
                    Phụ kiện

                </p>
                <p class="txt2">
                    Phụ kiện chính hãng
                </p>
            </div>
            <div class="box_tabs phu_kien van_hanh animated fadeInUpShort go delay-150">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a href="#tab_accessories_service_01">Ngoại thất</a>
                    </li>
                    <li class="tab">
                        <a href="#tab_accessories_service_02">Nội thất</a>
                    </li>
                    <li class="tab">
                        <a href="#tab_accessories_service_03">Tiện ích</a>
                    </li>
                    <li class="tab">
                        <a href="#tab_accessories_service_04">Chăm sóc và bảo vệ</a>
                    </li>
                    <li class="tab">
                        <a href="#tab_accessories_service_05">Điện tử</a>
                    </li>
                </ul>
                <div id="tab_accessories_service_01" class="content-tab content-spec" data-catspec="01">
                    <div class="inner">
                        <div class="products all_van_hanh">
                            <ul class="owl-carousel slide-features owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 2829px;">
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="0">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/77/1505810942_phim-dan-bao-ve-chan-cua.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/77/1505810942_phim-dan-bao-ve-chan-cua.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Phim dán bảo vệ chắn cửa" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Phim dán bảo vệ chắn cửa">Phim dán bảo vệ chắn cửa</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>331.400</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="1">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/78/can-sau.png?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/78/can-sau.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp cản sau mạ Crôm" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp cản sau mạ Crôm">Ốp cản sau mạ Crôm</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.781.000</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="2">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/79/cưa-hau.png?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/79/cưa-hau.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp cửa hậu mạ Crôm" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp cửa hậu mạ Crôm">Ốp cửa hậu mạ Crôm</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.202.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="3">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/80/1505810479_chan-nang-suon-xe.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/80/1505810479_chan-nang-suon-xe.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Chắn nắng sườn xe" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Chắn nắng sườn xe">Chắn nắng sườn xe</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>2.327.800</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="4">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/81/op-guong-chieu-hau-crom.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/81/op-guong-chieu-hau-crom.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp  gương chiếu hậu mạ Crôm" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp  gương chiếu hậu mạ Crôm">Ốp gương chiếu hậu mạ Crôm</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>833.300</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="5">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/93/1505810686_op-trang-tri-den-suong-mu-loai-tron.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                data-src="/data/accessories/93/1505810686_op-trang-tri-den-suong-mu-loai-tron.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp đèn trang trí sương mù mạ Crôm - Loại tròn" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp đèn trang trí sương mù mạ Crôm - Loại tròn">Ốp đèn trang trí sương mù mạ Crôm - Loại tròn</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.183.700</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="6">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/174/1505810751_op-trang-tri-den-suong-mu-loai-vien.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                data-src="/data/accessories/174/1505810751_op-trang-tri-den-suong-mu-loai-vien.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp trang trí đèn sương mù  mạ Crôm - Loại viền" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp trang trí đèn sương mù  mạ Crôm - Loại viền">Ốp trang trí đèn sương mù mạ Crôm - Loại viền</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.041.700</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="7">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/175/1505810888_op-chan-cua-ma-crom.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/175/1505810888_op-chan-cua-ma-crom.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp chắn cửa mạ Crôm" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp chắn cửa mạ Crôm">Ốp chắn cửa mạ Crôm</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.448.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_00" data-index="8">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="" src="/data/accessories/176/1505809649_op-trang-tri-can-truoc-ma-crom.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/176/1505809649_op-trang-tri-can-truoc-ma-crom.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp  cản trước mạ Crôm" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp  cản trước mạ Crôm">Ốp cản trước mạ Crôm</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>2.272.700</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab_accessories_service_02" class="content-tab content-spec" data-catspec="02">
                    <div class="inner">
                        <div class="products all_van_hanh">
                            <ul class="owl-carousel slide-features owl-loaded owl-drag owl-hidden">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1572px;">
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_01" data-index="0">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/72/1505811237_op-bac-len-xuong-khong-den.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                data-src="/data/accessories/72/1505811237_op-bac-len-xuong-khong-den.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp bậc lên xuống" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp bậc lên xuống">Ốp bậc lên xuống</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.008.400</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_01" data-index="1">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/73/1505811281_op-bac-len-xuong-co-den.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/73/1505811281_op-bac-len-xuong-co-den.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Ốp bậc lên xuống có đèn" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Ốp bậc lên xuống có đèn">Ốp bậc lên xuống có đèn</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>4.931.600</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_01" data-index="2">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/74/1465930009_phan_goi-dem-lung_001.png?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/74/1465930009_phan_goi-dem-lung_001.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Gối đệm lưng" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Gối đệm lưng">Gối đệm lưng</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>998.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_01" data-index="3">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/Content/images/notfound/notfound-images.png" data-src="/data/accessories/75/tay-nam-can-so-gia-go.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Tay nắm cần số giả gỗ A/T">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Tay nắm cần số giả gỗ A/T">Tay nắm cần số giả gỗ A/T</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>317.100</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_01" data-index="4">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/Content/images/notfound/notfound-images.png" data-src="/data/accessories/182/tay-nam-MT.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Tay nắm cần số giả gỗ M/T">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Tay nắm cần số giả gỗ M/T">Tay nắm cần số giả gỗ M/T</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>317.100</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab_accessories_service_03" class="content-tab content-spec" data-catspec="03">
                    <div class="inner">
                        <div class="products all_van_hanh">
                            <ul class="owl-carousel slide-features owl-loaded owl-drag owl-hidden">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1886px;">
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="0">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/82/chan-nang-truoc.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/82/chan-nang-truoc.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Chắn nắng trước" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Chắn nắng trước">Chắn nắng trước</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>378.700</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="1">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/83/1505811929_luoi-khoang-hanh-ly.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/83/1505811929_luoi-khoang-hanh-ly.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Lưới khoang hành lý" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Lưới khoang hành lý">Lưới khoang hành lý</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>790.600</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="2">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/84/khay-dung-hanh-ly.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/84/khay-dung-hanh-ly.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Khay đựng hành lý" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Khay đựng hành lý">Khay đựng hành lý</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>956.300</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="3">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/Content/images/notfound/notfound-images.png" data-src="/data/accessories/85/1465930695_phan_moc-treo-do.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Móc treo đồ">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Móc treo đồ">Móc treo đồ</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>459.200</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="4">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/Content/images/notfound/notfound-images.png" data-src="/data/accessories/86/hop-lanh.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Hộp lạnh">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Hộp lạnh">Hộp lạnh</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>2.220.500</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_02" data-index="5">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/Content/images/notfound/notfound-images.png" data-src="/data/accessories/183/tua-lung-ghe.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Tựa lưng ghế">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Tựa lưng ghế">Tựa lưng ghế</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>998.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab_accessories_service_04" class="content-tab content-spec" data-catspec="04">
                    <div class="inner">
                        <div class="products all_van_hanh">
                            <ul class="owl-carousel slide-features owl-loaded owl-drag owl-hidden">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 943px;">
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_03" data-index="0">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/87/1505812107_bat-phu-xe.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/87/1505812107_bat-phu-xe.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Bạt phủ xe" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Bạt phủ xe">Bạt phủ xe</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.836.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_03" data-index="1">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/88/bom-dien.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/88/bom-dien.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Bơm điện" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Bơm điện">Bơm điện</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>1.448.700</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_03" data-index="2">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/89/1505812177_bo-ho-tro-khan-cap.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/89/1505812177_bo-ho-tro-khan-cap.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Bộ cứu trợ khẩn cấp" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Bộ cứu trợ khẩn cấp">Bộ cứu trợ khẩn cấp</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>2.468.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next disabled">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="tab_accessories_service_05" class="content-tab content-spec" data-catspec="05">
                    <div class="inner">
                        <div class="products all_van_hanh">
                            <ul class="owl-carousel slide-features owl-loaded owl-drag owl-hidden">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 943px;">
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_04" data-index="0">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/90/den-san.jpg?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/90/den-san.jpg?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Đèn sàn" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Đèn sàn">Đèn sàn</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>5.354.400</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_04" data-index="1">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/91/đen-tu-dong-chieu-sang-truoc.png?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/91/đen-tu-dong-chieu-sang-truoc.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Đèn tự động chiếu sáng trước" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Đèn tự động chiếu sáng trước">Đèn tự động chiếu sáng trước</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>2.139.800</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 294.333px; margin-right: 20px;">
                                            <li class="item">
                                                <a class="open_popup_pc_pk" data-href="#popup_pc_accessory_04" data-index="2">
                                                    <div class="inner">
                                                        <div class="img">
                                                            <img class="owl-lazy" src="/data/accessories/92/1482932264_guong-dien-chong-loa.png?w=257&amp;h=127&amp;mode=crop" data-src="/data/accessories/92/1482932264_guong-dien-chong-loa.png?w=257&amp;h=127&amp;mode=crop"
                                                                alt="Gương điện chống lóa" style="opacity: 1;">
                                                        </div>
                                                        <div class="txt">
                                                            <div class="txt1">
                                                                <p class="name" title="Gương điện chống lóa">Gương điện chống lóa</p>
                                                            </div>
                                                            <div class="txt2">
                                                                <p class="desc">Giá:
                                                                    <strong>4.738.900</strong>
                                                                    <sup>VND</sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next disabled">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Phu kien-->