--- 
layout: default 
--- 
{% assign car = site.data.cars[page.permalink] %} 
{% assign colors = car.colors %} 
{% include car/banner.html %} 
<div id="content">
    <div class="page_productdt">
        {% include car/menus.html %} 
        {% include car/mota.html %} 
        {% include car/cac_mau_xe_khac.html %}
        {% include car/thuvien.html %} 
        {% include car/ngoaithat.html %}
        {% comment %}
        {% include car/hotline.html %} 
        {% endcomment %}
        {% include car/noithat.html %} 
        {% include car/tinhnang.html %} 
        {% include car/thongsokythuat.html %}
        <!--Mobile link-->
        <!--End of Mobile link-->
        {% include car/catalouge.html %}
    </div>
</div>

<!--Pop-up Exter-->
<div class="slide_pc_on_popup_operate popup_item" id="popup_pc_ex" style="display: none;">
    <div class="title_p">Ngoại thất

    </div>
    <div class="owl-carousel slide_pc_on_popup">
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/jffuqx.jpg" alt="Đu&#244;i xe">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Đuôi xe</p>
                    <div class="txt_p_2">
                        Phần đu&#244;i xe h&#224;i h&#242;a, tinh tế với trang bị LED cho cụm đ&#232;n sau thiết kế liền mạch qua khối nẹp trang
                        tr&#237; biển số mạ Crom s&#225;ng b&#243;ng sang trọng.
                    </div>
                    <div class="txt_index">1 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/4lhjyw.png" alt="Đầu xe">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Đầu xe</p>
                    <div class="txt_p_2">
                        Đầu xe thiết kế mới với bộ lưới tản nhiệt k&#233;o d&#224;i &#244;m trọn đ&#232;n sương m&#249; thu h&#250;t &#225;nh nh&#236;n
                        ngay từ ph&#250;t đầu ti&#234;n.
                    </div>
                    <div class="txt_index">2 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/zu31y4.jpg" alt="Cụm đ&#232;n trước">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cụm đèn trước</p>
                    <div class="txt_p_2">
                        Cụm đ&#232;n trước phi&#234;n bản 1.8 hiện đại với thiết kế đ&#232;n ho&#224;n to&#224;n mới c&#249;ng 4 b&#243;ng đ&#232;n
                        Bi-LED, kho&#225;c l&#234;n chiếc xe vẻ sang trọng kh&#243; cưỡng , t&#244;n vị thế chủ nh&#226;n.
                    </div>
                    <div class="txt_index">3 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/5civpl.jpg" alt="Đ&#232;n sương m&#249;">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Đèn sương mù</p>
                    <div class="txt_p_2">
                        Thiết kế đ&#232;n sương m&#249; liền mạch với lưới tản nhiệt cho d&#225;ng vẻ trẻ trung c&#249;ng phong th&#225;i mạnh mẻ.
                    </div>
                    <div class="txt_index">4 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/ubvwjx.jpg" alt="Bản lĩnh t&#244;n vị thế">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Bản lĩnh tôn vị thế</p>
                    <div class="txt_p_2">
                        Khả năng vận h&#224;nh mạnh mẽ cho cảm gi&#225;c l&#225;i tuyệt vời để lu&#244;n l&#224; người bạn đường ăn &#253; v&#224;
                        đầy bản lĩnh.
                    </div>
                    <div class="txt_index">5 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/tg01it.jpg" alt="Gương chiếu hậu b&#234;n ngo&#224;i">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Gương chiếu hậu bên ngoài</p>
                    <div class="txt_p_2">
                        Gương chiếu hậu c&#249;ng m&#224;u th&#226;n xe, t&#237;ch hợp đ&#232;n b&#225;o rẽ v&#224; điều chỉnh bằng điện mang đến
                        tiện nghi tối đa cho chủ sở hữu.
                    </div>
                    <div class="txt_index">6 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/l51rn4.jpg" alt="M&#226;n xe">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Mân xe</p>
                    <div class="txt_p_2">
                        M&#226;m 16&quot; với thiết kế g&#243;c cạnh thu h&#250;t mọi &#225;nh nh&#236;n khi cả xe đang di chuyển.
                    </div>
                    <div class="txt_index">7 / 8</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/3/izsbom.jpg" alt="Cụm đ&#232;n sau">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cụm đèn sau</p>
                    <div class="txt_p_2">
                        Cụm đ&#232;n sau với thiết kế đặc biệt sắt n&#233;t c&#249;ng dải đ&#232;n LED d&#224;i mạnh mẽ.
                    </div>
                    <div class="txt_index">8 / 8</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Pop-up Exter-->
<!--Pop-up Inter-->
<div class="slide_pc_on_popup_operate popup_item" id="popup_pc_inter" style="display: none;">
    <div class="title_p">Nội thất

    </div>
    <div class="owl-carousel slide_pc_on_popup">
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/l0nbvm.jpg" alt="Corolla Altis 1.8G (CVT) H&#224;ng ghế 2">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hàng ghế 2</p>
                    <div class="txt_p_2">
                        H&#224;ng ghế sau với khả năng gập xuống ho&#224;n to&#224;n, tạo với khoang h&#224;nh l&#253; th&#224;nh 1 mặt phẳng rất
                        thuận tiện v&#224; dễ d&#224;ng khi c&#243; nhu cầu vận chuyển h&#224;nh l&#253;, h&#224;ng h&#243;a
                        cồng kềnh.
                    </div>
                    <div class="txt_index">1 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/at3las.jpg" alt="Corolla Altis 1.8G (CVT) Tựa tay h&#224;ng ghế 2">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Tựa tay hàng ghế 2</p>
                    <div class="txt_p_2">
                        H&#224;ng ghế sau được trang bị tựa tay mang đến sự thoải m&#225;i cho h&#224;nh kh&#225;ch ph&#237;a sau, đồng thời tr&#234;n
                        tựa tay c&#242;n trang bị khay đựng cốc/chai nước đầy tiện &#237;ch.
                    </div>
                    <div class="txt_index">2 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/lkwxny.jpg" alt="Corolla Altis 1.8G (CVT) Hộc đựng đồ tiện lợi">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hộc đựng đồ tiện lợi</p>
                    <div class="txt_p_2">
                        Hộc đựng đồ 2 ngăn nằm ngay tựa tay của h&#224;ng ghế trước đầy tiện &#237;ch
                    </div>
                    <div class="txt_index">3 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/jhylth.jpg" alt="Corolla Altis 1.8G (CVT) N&#244;̣i th&#226;́t r&#244;̣ng rãi">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Nội thất rộng rãi</p>
                    <div class="txt_p_2">
                        N&#244;̣i th&#226;́t r&#244;̣ng rãi, ti&#234;̣n nghi với c&#244;ng ngh&#234;̣ hi&#234;̣n đại tạo n&#234;n kh&#244;ng
                        gian đẳng c&#226;́p và sang trọng
                    </div>
                    <div class="txt_index">4 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/14e2sh.jpg" alt="Corolla Altis 1.8G (CVT) Cửa gi&#243; điều h&#242;a">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cửa gió điều hòa</p>
                    <div class="txt_p_2">
                        Cửa gi&#243; điều h&#242;a được thiết kế h&#236;nh tr&#242;n c&#249;ng c&#225;nh gi&#243; h&#236;nh sao 5 c&#225;nh thể thao
                        hiện đại.
                    </div>
                    <div class="txt_index">5 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/kaidpy.jpg" alt="Corolla Altis 1.8G (CVT) Tay l&#225;i">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Tay lái</p>
                    <div class="txt_p_2">
                        Với thiết kế 3 chấu bọc da, mạ bạc t&#237;ch hợp c&#225;c n&#250;t điều khiển hệ thống &#226;m th&#226;m, m&#224;n h&#236;nh
                        hiển thị đa th&#244;ng tin, tay l&#225;i hỗ trợ đắc lực cho chủ sở hữu khi điều khiển xe.
                    </div>
                    <div class="txt_index">6 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/namwal.jpg" alt="Corolla Altis 1.8G (CVT) Bản đồng hồ v&#224; m&#224;n h&#236;nh hiển thị đa th&#244;ng tin">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Bản đồng hồ và màn hình hiển thị đa thông tin</p>
                    <div class="txt_p_2">
                        Bảng đồng hồ Optitron được chia l&#224;m 3 khu vực ri&#234;ng biệt hiển thị c&#225;c th&#244;ng số quan trọng gi&#250;p người
                        l&#225;i dễ d&#224;ng điều khiển xe. Viền mạ Cr&#244;ma kết hợp với &#225;nh s&#225;ng phản quang
                        xanh dương tăng vẻ sang trọng cho kh&#244;ng gian nội thất, đồng thời gi&#250;p việc quan s&#225;t
                        c&#225;c chỉ số trở n&#234;n dễ d&#224;ng hơn. M&#224;n h&#236;nh m&#224;u hiển thị đa th&#244;ng
                        tin được đặt ch&#237;nh giữa bảng đồng hồ với phần th&#244;ng số được hiển thị r&#245; r&#224;ng,
                        linh hoạt gi&#250;p người l&#225;i c&#243; thể dễ d&#224;ng kiểm so&#225;t h&#224;nh tr&#236;nh.
                    </div>
                    <div class="txt_index">7 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/fqvjo5.jpg" alt="Corolla Altis 1.8G (CVT) Hệ thống &#226;m thanh">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống âm thanh</p>
                    <div class="txt_p_2">
                        Cuộc sống chất lượng khi vừa chinh phục vừa c&#243; thể tận hưởng những bản nhạc y&#234;u th&#237;ch với hệ thống &#226;m
                        thanh được trang bị m&#224;n h&#236;nh DVD 7&quot; sang trọng c&#249;ng với c&#225;c t&#237;nh năng
                        tiện &#237;ch hiện đại như kết nối AUX/USB/ Bluetooth/AM/FM v&#224; đ&#224;m thoại rảnh tay.
                    </div>
                    <div class="txt_index">8 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/kghwmj.jpg" alt="Corolla Altis 1.8G (CVT) Hệ thống điều h&#242;a">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống điều hòa</p>
                    <div class="txt_p_2">
                        Thiết kế bản điều khiển điều h&#242;a tự động, sử dụng c&#244;ng tắc điều chỉnh dạng lẫy hiện đại v&#224; tiện dụng hơn.
                    </div>
                    <div class="txt_index">9 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/3qiqfk.jpg" alt="Corolla Altis 1.8G (CVT) Cửa sổ chỉnh điện">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cửa sổ chỉnh điện</p>
                    <div class="txt_p_2">
                        Tất cả c&#225;c cửa sổ được trang bị hệ thống điều chỉnh điện dễ d&#224;ng sử dụng v&#224; đặc biệt cửa sổ người l&#225;i
                        c&#242;n c&#243; chức năng tự động l&#234;n/xuống đầy tiện &#237;ch.
                    </div>
                    <div class="txt_index">10 / 11</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/2/f12ats.jpg" alt="Corolla Altis 1.8G (CVT) Ghế ngồi">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Ghế ngồi</p>
                    <div class="txt_p_2">
                        To&#224;n bộ ghế ngồi được bọc da sang trọng, hơn nữa ghế người l&#225;i được chỉnh điện 10 hướng dễ d&#224;ng cho người
                        l&#225;i t&#236;m được vị tr&#237; l&#225;i ph&#249; hợp nhất v&#224; thoải m&#225;i nhất.
                    </div>
                    <div class="txt_index">11 / 11</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Pop-up Inter-->
<!--Pop-up Accessory-->
<div id="listPopupAccessory">

</div>
<div class="slide_pc_on_popup_operate popup_item" id="popup_pc_accessory" style="display: none;">
    <div class="title_p">Phụ kiện chính hãng </div>
    <div class="owl-carousel slide_pc_on_popup">
    </div>
</div>
<!--End of Pop-up Accessory-->
<!--Pop-up Operate-->
<div class="slide_pc_on_popup_operate popup_item" id="popup_pc_operate" style="display: none;">
    <div class="title_p">Tính năng nổi bật</div>
    <div class="owl-carousel slide_pc_on_popup">
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/bfn5z4.png" alt="Chế độ l&#225;i SPORT">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Chế độ lái SPORT</p>
                    <div class="txt_p_2">
                        Đơn giản, hiệu quả mạnh mẽ với chế độ l&#225;i SPORT chỉ bằng một n&#250;t bấm, bạn c&#243; thể trải nghiệm ngay khả năng
                        tăng tốc nhanh ch&#243;ng, cho cảm gi&#225;c phấn kh&#237;ch chưa từng c&#243;
                    </div>
                    <div class="txt_index">1 / 6</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/sownr3.png" alt="Cấu tr&#250;c giảm tiếng ồn">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cấu trúc giảm tiếng ồn</p>
                    <div class="txt_p_2">
                        Với việc sử dụng vật liệu c&#225;ch &#226;m mới tại nhiều vị tr&#237; tr&#234;n khung sườn kết hợp với kết cấu th&#226;n
                        xe khoa học, khả năng chống ồn v&#224; rung lắc của xe được cải thiện vượt bậc, đem lại cảm gi&#225;c
                        y&#234;n tĩnh thư th&#225;i cho h&#224;nh kh&#225;ch suốt chặng h&#224;nh tr&#236;nh.
                    </div>
                    <div class="txt_index">2 / 6</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/l1m32u.png" alt="Hệ thống treo">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống treo</p>
                    <div class="txt_p_2">
                        Hệ thống treo trước với thiết kế McPherson v&#224; hệ thống treo sau loại dầm xoắn kết hợp thanh c&#226;n bằng hấp thụ xung
                        lực tốt, mang lại cảm gi&#225;c &#234;m &#225;i cho khoang h&#224;nh kh&#225;ch v&#224; độ ổn định
                        cho xe khi vận h&#224;nh.
                    </div>
                    <div class="txt_index">3 / 6</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/35hzjq.png" alt="Hộp số tự động v&#244; cấp">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hộp số tự động vô cấp</p>
                    <div class="txt_p_2">
                        Hộp số tự động v&#244; cấp CVT vận h&#224;nh tr&#234;n một hệ thống b&#225;nh đai - d&#226;y th&#233;p cho khả năng biến
                        thi&#234;n v&#244; hạn m&#224; kh&#244;ng c&#243; sự ngắt qu&#227;ng giữa c&#225;c cấp số, gi&#250;p
                        xe vận h&#224;nh &#234;m &#225;i đồng thời đem đến cho chủ sở hữu khả năng đ&#225;nh l&#225;i tối
                        ưu v&#224; xử l&#253; nhạy b&#233;n, tận hưởng trọn vẹn từng gi&#226;y ph&#250;t hứng khởi.
                    </div>
                    <div class="txt_index">4 / 6</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/500evy.png" alt="Tay l&#225;i trợ lực điện">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Tay lái trợ lực điện</p>
                    <div class="txt_p_2">
                        Tay l&#225;i trợ lực điện với khả năng điều chỉnh 4 hướng cho ph&#233;p chủ sở hữu phản ứng linh hoạt, ch&#237;nh x&#225;c,
                        điều khiển ổn định ở mọi tốc độ, gi&#250;p chủ sở hữu l&#224;m chủ h&#224;nh tr&#236;nh.
                    </div>
                    <div class="txt_index">5 / 6</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img class="galleryPopUp" src="/data/news/1865/5/vdwi0q.png" alt="Động cơ 1.8L">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Động cơ 1.8L</p>
                    <div class="txt_p_2">
                        Động cơ 2ZR-FE với hệ thống điều phối van biến thi&#234;n th&#244;ng minh k&#233;p Dual VVT-i v&#224; hệ thống điều khiển
                        biến thi&#234;n đường ống nạp ACIS gi&#250;p xe vận h&#224;nh mạnh mẽ, tăng tốc &#234;m &#225;i nhưng
                        vẫn tiết kiệm nhi&#234;n liệu ấn tượng v&#224; th&#226;n thiện với m&#244;i trường.
                    </div>
                    <div class="txt_index">6 / 6</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Pop-up Operate-->
<!--Pop-up Safe-->
<div class="slide_pc_on_popup_operate popup_item" id="popup_pc_safe" style="display: none;">
    <div class="title_p">Tính năng nổi bật

    </div>
    <div class="owl-carousel slide_pc_on_popup">
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/m345zm.png" alt="Hệ thống kiểm so&#225;t lực k&#233;o">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống kiểm soát lực kéo</p>
                    <div class="txt_p_2">
                        Khi xe chạy thẳng v&#224; tăng tốc tr&#234;n đường trơn trượt, hệ thống kiểm so&#225;t lực k&#233;o TRC chủ động kiểm so&#225;t
                        độ c&#226;n bằng th&#244;ng qua việc tăng giảm lực truyền động đến c&#225;c b&#225;nh xe v&#224;
                        tốc độ từng b&#225;nh xe.
                    </div>
                    <div class="txt_index">1 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/nfrb30.png" alt="Hệ thống c&#226;n bằng điện tử">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống cân bằng điện tử</p>
                    <div class="txt_p_2">
                        Hệ thống c&#226;n bằng điện tử VSC được điều khiển bằng hệ thống tự động, gi&#250;p kiểm so&#225;t t&#236;nh trạng trượt
                        v&#224; tăng cường độ ổn định khi xe v&#224;o cua.
                    </div>
                    <div class="txt_index">2 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/gwzrvv.png" alt="Đ&#232;n b&#225;o phanh tr&#234;n cao">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Đèn báo phanh trên cao</p>
                    <div class="txt_p_2">
                        Đ&#232;n b&#225;o phanh tr&#234;n cao sử dụng c&#244;ng nghệ LED gi&#250;p tăng cường t&#237;n hiệu cảnh b&#225;o khi phanh
                        đối với phương tiện hoặc người đi đường di chuyển ph&#237;a sau xe, tr&#225;nh những va chạm bất
                        ngờ c&#243; thể xảy ra
                    </div>
                    <div class="txt_index">3 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/q0zn0z.png" alt="M&#243;c ISO FIX">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Móc ISO FIX</p>
                    <div class="txt_p_2">
                        Đối với c&#225;c gia đ&#236;nh c&#243; trẻ nhỏ, m&#243;c c&#224;i ghế trẻ em ISO FIX l&#224; trang bị rất hữu &#237;ch gi&#250;p
                        định vị ghế trẻ em chắc chắn v&#224; an to&#224;n, đem lại sự an t&#226;m v&#224; thoải m&#225;i
                        cho cả gia đ&#236;nh.
                    </div>
                    <div class="txt_index">4 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/zl4z41.png" alt="Hệ thống ph&#226;n phối lực phanh điện tử">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống phân phối lực phanh điện tử</p>
                    <div class="txt_p_2">
                        Th&#244;ng qua dữ liệu ph&#226;n t&#237;ch từ m&#225;y t&#237;nh trung t&#226;m, hệ thống ph&#226;n phối lực phanh điện tử
                        EBD sẽ ph&#226;n bổ lực phanh hợp l&#253; đến c&#225;c b&#225;nh xe, gi&#250;p n&#226;ng cao hiệu
                        quả phanh, đặc biệt khi xe đang chất tải v&#224; v&#224;o cua.
                    </div>
                    <div class="txt_index">5 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/covobl.png" alt="Hệ thống hỗ trợ lực phanh khẩn cấp">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống hỗ trợ lực phanh khẩn cấp</p>
                    <div class="txt_p_2">
                        Với bộ cảm biến &#225;p suất dầu phanh, hệ thống hỗ trợ lực phanh khẩn cấp BA tự động gia tăng th&#234;m lực phanh trong
                        trường hợp khẩn cấp, gi&#250;p người l&#225;i tự tin xử l&#253;.
                    </div>
                    <div class="txt_index">6 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/jvmwce.jpg" alt="Cảm biến hỗ trợ đỗ xe">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Cảm biến hỗ trợ đỗ xe</p>
                    <div class="txt_p_2">
                        Hoạt động th&#244;ng qua hệ thống s&#243;ng &#226;m, cảm biến l&#249;i v&#224; cảm biến g&#243;c x&#225;c định vật cản ở
                        hai b&#234;n h&#244;ng đầu v&#224; đu&#244;i xe, ph&#225;t t&#237;n hiệu cảnh b&#225;o hỗ trợ người
                        điều khiển đ&#225;nh l&#225;i ph&#249; hợp để l&#249;i hoặc đỗ xe an to&#224;n, đặc biệt ở nơi c&#243;
                        kh&#244;ng gian nhỏ hẹp.
                    </div>
                    <div class="txt_index">7 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/qvcfjn.png" alt="Hệ thống chống trộm">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống chống trộm</p>
                    <div class="txt_p_2">
                        Hệ thống chống trộm với chức năng cảnh b&#225;o chống trộm gi&#250;p chủ sở hữu an t&#226;m rời khỏi xe v&#236; đ&#227; được
                        bảo vệ an to&#224;n.
                    </div>
                    <div class="txt_index">8 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/d3y131.png" alt="D&#226;y đai an to&#224;n">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Dây đai an toàn</p>
                    <div class="txt_p_2">
                        D&#226;y đai an to&#224;n 3 điểm (vai v&#224; hai b&#234;n h&#244;ng) được trang bị cho tất cả vị tr&#237; ghế ngồi tr&#234;n
                        xe, bảo vệ h&#224;nh kh&#225;ch an to&#224;n trong mọi t&#236;nh huống.
                    </div>
                    <div class="txt_index">9 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/ptnmyz.jpg" alt="T&#250;i kh&#237;">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Túi khí</p>
                    <div class="txt_p_2">
                        7 T&#250;i kh&#237; được trang bị tr&#234;n tất cả c&#225;c phi&#234;n bản gi&#250;p giảm thiểu tối đa trấn thương cho người
                        l&#225;i v&#224; h&#224;nh kh&#225;nh trong trường hợp xảy ra va chạm. Cuộc sống được bảo vệ tối
                        đa ở từng chi tiết nhỏ.
                    </div>
                    <div class="txt_index">10 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/af024c.png" alt="Ghế c&#243; cấu tr&#250;c giảm chấn thương đốt sồng cổ">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Ghế có cấu trúc giảm chấn thương đốt sồng cổ</p>
                    <div class="txt_p_2">
                        Ghế ngồi vị tr&#237; người l&#225;i v&#224; h&#224;nh kh&#225;ch ph&#237;a trước được thiết kế với cấu tr&#250;c giảm chấn
                        thương đốt sống cổ. Trong trường hợp xảy ra va chạm mạnh từ ph&#237;a sau, đầu v&#224; th&#226;n
                        h&#224;nh kh&#225;ch c&#243; xu hướng đập mạnh v&#224;o ghế. Cấu tr&#250;c tr&#234;n giảm chuyển
                        động tương đối giữa đầu v&#224; th&#226;n, gi&#250;p giảm thiểu tối đa chấn thương phần đốt sống
                        cổ.
                    </div>
                    <div class="txt_index">11 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/or2av5.png" alt="Khung xe GOA">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Khung xe GOA</p>
                    <div class="txt_p_2">
                        Được nghi&#234;n cứu v&#224; thử nghiệm kỹ lưỡng trước khi đưa v&#224;o thực tế, khung xe GOA c&#243; c&#225;c v&#249;ng
                        co rụm hấp thu xung lực, gi&#250;p giảm thiểu tối đa t&#225;c động trực tiếp đến kh&#244;ng chỉ h&#224;nh
                        kh&#225;ch tr&#234;n xe m&#224; cả người đi đường trong t&#236;nh huống xảy ra va chạm.
                    </div>
                    <div class="txt_index">12 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/215yl0.png" alt="Hệ thống chống b&#243; cứng phanh">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống chống bó cứng phanh</p>
                    <div class="txt_p_2">
                        Khi được k&#237;ch hoạt bằng c&#225;ch đạp phanh dứt kho&#225;t, hệ thống chống b&#243; cứng phanh ABS sẽ tự động nhấp nhả
                        phanh li&#234;n tục, gi&#250;p c&#225;c b&#225;nh xe kh&#244;ng bị b&#243; cứng, cho ph&#233;p người
                        l&#225;i duy tr&#236; khả năng điều khiển xe tr&#225;nh chướng ngại vật v&#224; đảm bảo độ ổn định
                        th&#226;n xe.
                    </div>
                    <div class="txt_index">13 / 14</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="inner_item">
                <p class="img">
                    <img src="/data/news/1865/4/mmzxcw.jpg" alt="Hệ thống phanh">
                </p>
                <div class="txt_p">
                    <p class="txt_p_1">Hệ thống phanh</p>
                    <div class="txt_p_2">
                        Hệ thống phanh đĩa th&#244;ng gi&#243; ph&#237;a trước v&#224; phanh đĩa đặc ph&#237;a sau cung cấp lực phanh ổn định v&#224;
                        ch&#237;nh x&#225;c, mang đến cho chủ sở hữu cảm gi&#225;c y&#234;n t&#226;m v&#224; tự tin khi vận
                        h&#224;nh xe. Đặc biệt, thiết kế khoa học của phanh đĩa th&#244;ng gi&#243; gi&#250;p giảm nhiệt
                        độ tr&#234;n bề mặt đĩa phanh, do đ&#243;, tăng hiệu quả phanh.
                    </div>
                    <div class="txt_index">14 / 14</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Pop-up Safe-->


<script src="/Content/js/jquery.ez-plus.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="/Content/js/jquery.min.js"></script>
<script src="/Content/js/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    });
</script>